<!DOCTYPE html>
<html>
<head>
  <title>Spotify React client</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.css %>">
</head>
<body>
  <div id="app" style="padding-bottom: 20px">
  </div>
  <script src="/js/vendors.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
